@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
/* font-family: 'Zen Tokyo Zoo', 'cursive'; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Zen+Tokyo+Zoo&display=swap');
/* font-family: 'Roboto Slab', 'serif'; */
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    background-repeat:round;
    background-image: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg");
}
#title{
    text-align: center;
    font-family:'Zen Tokyo Zoo', 'cursive';
    font-size: 5rem;
    color: rgb(255, 255, 255);
}
#description{
    text-align: center;
    color: aliceblue;
    font-family: 'Roboto Slab', 'serif';
    font-size: 1rem;
    margin-bottom: 1rem; 
}
#title, #description{
    animation-name: change;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}
@keyframes change {
    0%   {color: red;}
    20%  {color: rgb(253, 251, 251);}
    40%  {color: rgba(255, 238, 0, 0.432);}
    60%  {color: rgba(0, 255, 255, 0.329);}
    80%  {color: rgb(226, 51, 226);}
    100% {color: rgb(4, 255, 138);}
  }
#survey-form{
    padding: 0.5rem;
    border-radius: 1.5rem;
    background: linear-gradient(45deg,red,rgb(0, 132, 255),rgb(13, 236, 236));
}

#box{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40rem;
    opacity: .8;
}
.group{
    margin-bottom: 0.5rem;
    font-family: 'Roboto Slab', 'serif';
}
#name,#email{
    width: 90%;
    padding: 0.2rem;
    border: none;
    border-radius: 1rem;
}
#number{
    width: 92%;
    padding: 0.2rem;
    border: none;
    border-radius: 1rem;
}
#drop-down,#comments{
    width: 98%;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
}
#submit{
    width: 98%;
    padding: 0.5rem;
    background-color: rgb(12, 247, 12);
    font-size: x-large;
    color: white;
    border-radius: 2rem;
    border: none;
}
#submit:hover{
    transform:scale(.9);
    opacity: 0.8;
}
textarea{
    height: 5rem;
}
#made{
    font-size: 2rem;
    display: block;
    margin-bottom: 0.5rem;
    position: relative;
  animation-name: to-fro;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function:ease-out;
}
@keyframes to-fro {
    0%   {color:red; left:0rem; bottom:0rem;}
    25%  {color: rgb(243, 230, 230); left: 60rem; bottom:0rem;}
    50%  {color:rgb(255, 230, 0); left: 65rem; bottom:0rem;}
    75%  {color:rgb(22, 236, 154); left:40rem; bottom:0rem;}
    100% {color:rgb(0, 255, 234); left:0rem; bottom:0rem;}
  }
 @media (max-width:56rem) {
    html{
        font-size: 0.5rem;
    }
    #description{
      margin-bottom:7rem;
    }
    #title{
      margin-bottom:5rem;
      margin-top:5rem;     }
    
    @keyframes to-fro {
    0%   {color:red; left:0rem; bottom:0rem;}
    25%  {color: rgb(255, 255, 255); left: 29rem; bottom:0rem;}
    50%  {color:rgb(121, 201, 248); left: 2rem; bottom:0rem;}
    75%  {color:rgb(22, 236, 154); left:2rem; bottom:0rem;}
    100% {color:rgb(229, 255, 0); left:0rem; bottom:0rem;}
    }
 }